####################################################
####                    code                    ####
####################################################
# Object files
*.o

# Temporary saves
*~

# Results files
solution_*

# Eigen files
*/Eigen/

#####################################################
####                   report                    ####
#####################################################
# Object files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nlg
*.nlo
*.nls
*.out
*.xml
*.toc
*.synctex.gz

# PDF files
*.pdf

# Images
*.png

#####################################################
####                admin files                  ####
#####################################################
papiers_admin/