####################################################
####                    code                    ####
####################################################
# Object files
*.o

# PDF files
*.pdf

# Text files
*.txt

#####################################################
####                   report                    ####
#####################################################
# Object files
*.out
*.aux
*.bcf
*.log
*.xml
*.toc
*.bbl
*.blg
*.synctex.gz

#####################################################
####                admin files                  ####
#####################################################
papiers_admin/